/*Fonts*/
/*Colors*/
.main-color {
  color: #ef6b28; }

/*Spacing*/
/* .p-bg {*/
/*   padding: 20rem 0;*/
/* }*/
/*Mixins*/
body {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.6; }

img {
  width: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "Give You Glory", cursive; }

h1 {
  font-size: 2.4em; }

.btn.btn-primary {
  position: absolute;
  padding: 13px 30px 7px;
  font-family: "Give You Glory", cursive;
  left: -20px;
  color: #fff;
  background: #ef6b28;
  line-height: 0;
  border: 2px dotted #ef6b28;
  bottom: 50px;
  transition: all 0.6s ease;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  box-shadow: 3px 2px 19px 0px rgba(50, 50, 50, 0.83);
  border-radius: 0;
  padding: 28px 35px 20px;
  font-size: 24px; }
  .btn.btn-primary h2 {
    margin: 0; }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background-color: #ef6b28 !important;
    border-color: #ef6b28 !important;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

.btn.btn-default {
  font-family: "Give You Glory", cursive;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  padding: 8px 30px 3px;
  font-size: 20px;
  border: 6px solid transparent;
  -o-border-image: url("../img/dotround-border-white.svg") 33% round;
  border-image: url("../img/dotround-border-white.svg") 33% round;
  /* border-image-outset: 3px;*/
  border-width: 5px;
  transition: all 0.6s ease; }
  .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    color: #ef6b28;
    box-shadow: none; }
  .btn.btn-default.btn-alt-hover:hover, .btn.btn-default.btn-alt-hover:focus, .btn.btn-default.btn-alt-hover:active {
    color: #222; }

header {
  height: 100vh;
  background-image: url("../img/header_gross.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  /* background-attachment: fixed;*/
  position: relative; }
  header h1 {
    position: absolute;
    width: 60%;
    top: 115px;
    left: 30%;
    z-index: 100;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    header h1 span {
      box-shadow: 3px 2px 19px 0px rgba(50, 50, 50, 0.83);
      position: absolute;
      display: inline-block;
      font-family: "Give You Glory", cursive;
      font-size: 1.75rem;
      line-height: 1.2;
      color: #222;
      background-color: #fff;
      text-align: center;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 32px 40px 25px; }
      header h1 span:before {
        content: '';
        position: absolute;
        height: calc(100% - 12px);
        width: calc(100% - 12px);
        left: 6px;
        top: 6px;
        z-index: -1;
        border: 6px solid transparent;
        -o-border-image: url("../img/dotround-border-orange.svg") 33% round;
        border-image: url("../img/dotround-border-orange.svg") 33% round;
        /* border-image-outset: 3px;*/ }
      header h1 span.slogan-1 {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
        left: 40%;
        margin-top: 7px; }
      header h1 span.slogan-2 {
        margin-top: 89px;
        left: 30%;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg); }
      header h1 span.slogan-3 {
        margin-top: 163px;
        left: 42%;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg); }
      header h1 span.slogan-4 {
        margin-top: 246px;
        left: 30%;
        -webkit-transform: rotate(-9deg);
        transform: rotate(-9deg); }
      header h1 span.slogan-5 {
        margin-top: 314px;
        left: 46%;
        min-width: 200px;
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg); }
      header h1 span.slogan-6 {
        margin-top: 390px;
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
        left: 41%; }

.navbar {
  box-shadow: 3px 2px 19px 0px rgba(50, 50, 50, 0.83);
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 40px;
  width: 320px;
  padding: 25px 32px;
  background-color: #fff;
  transition: all 0.6s ease; }
  .navbar .navbar-brand img {
    width: 185px; }
  .navbar .navbar-toggler-icon {
    outline: 0;
    width: 1.7em;
    height: 1.7em; }
    .navbar .navbar-toggler-icon .ti-menu {
      top: 4px;
      position: relative; }
    .navbar .navbar-toggler-icon .icon-name {
      font-family: "Give You Glory", cursive;
      font-size: 15px;
      position: absolute;
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
      top: 60px;
      right: 28px; }
  .navbar .navbar-toggler {
    outline: 0;
    padding: 0;
    margin-top: -25px; }
  .navbar .nav-link {
    color: #222;
    font-family: "Give You Glory", cursive;
    font-size: 20px;
    padding-bottom: 0;
    transition: all 0.6s ease; }
    .navbar .nav-link:hover, .navbar .nav-link:focus {
      color: #ef6b28; }
  .navbar:before {
    content: '';
    position: absolute;
    height: calc(100% - 12px);
    width: 308px;
    left: 6px;
    top: 6px;
    z-index: -1;
    border: 6px solid transparent;
    -o-border-image: url("../img/dotround-border-orange.svg") 33% round;
    border-image: url("../img/dotround-border-orange.svg") 33% round;
    /* border-image-outset: 3px;*/ }
  .navbar .navbar-nav {
    padding-top: 20px;
    padding-left: 3px; }
    .navbar .navbar-nav .dropdown-menu {
      min-width: 100px;
      font-family: "Give You Glory", cursive;
      border: 0;
      border-top: 2px dotted #222;
      border-bottom: 2px dotted #222;
      border-radius: 0;
      transition: all 0.6s ease; }
      .navbar .navbar-nav .dropdown-menu .dropdown-item {
        transition: all 0.6s ease; }
        .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus {
          color: #ef6b28;
          background-color: #fff; }

main.container {
  padding-top: 5em;
  padding-bottom: 8em;
  /* @include media-breakpoint-up(xl) { */
  /*   width: 80%;*/
  /* }*/ }
  @media (min-width: 992px) {
    main.container {
      width: 80%; } }

.subpage main.container {
  margin-top: 7em; }

.col-spacer {
  height: 70px; }

figure {
  position: relative;
  margin: 0;
  border: 6px solid transparent;
  -o-border-image: url("../img/dotround-border-orange.svg") 33% round;
  border-image: url("../img/dotround-border-orange.svg") 33% round;
  /* border-image-outset: 3px;*/
  padding: 3px; }
  figure figcaption {
    position: absolute;
    padding: 13px 30px 7px;
    font-family: "Give You Glory", cursive;
    left: -20px;
    color: #fff;
    background: #ef6b28;
    line-height: 0;
    border: 2px dotted #ef6b28;
    bottom: 50px;
    transition: all 0.6s ease;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    box-shadow: 3px 2px 19px 0px rgba(50, 50, 50, 0.83); }
    figure figcaption h2 {
      margin: 0; }
    figure figcaption:hover, figure figcaption:focus, figure figcaption:active {
      background-color: #ef6b28 !important;
      border-color: #ef6b28 !important;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }

footer {
  background-color: #222;
  color: #fff;
  padding: 2em 2.5em;
  text-align: right;
  position: relative;
  /* @include dotted-border('orange');*/
  /* border-left: 0;*/
  /* border-bottom: 0;*/
  /* border-right: 0;*/ }
  footer img {
    max-width: 175px;
    padding-bottom: 10px;
    border: 6px solid transparent;
    -o-border-image: url("../img/dotround-border-white.svg") 33% round;
    border-image: url("../img/dotround-border-white.svg") 33% round;
    /* border-image-outset: 3px;*/
    border-width: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 8px; }
  footer p {
    font-size: 12px;
    line-height: 1.7;
    padding: 5px 0;
    margin-bottom: 10px; }
  footer h6 {
    font-weight: 400;
    margin-bottom: 5px; }
  footer .newsletter-container {
    box-shadow: 3px 2px 19px 0px rgba(50, 50, 50, 0.83);
    position: absolute;
    font-family: "Give You Glory", cursive;
    background-color: #fff;
    text-align: left;
    width: 40%;
    top: -75px;
    left: 10%;
    padding: 35px 35px 25px;
    z-index: 10; }
    footer .newsletter-container h3 {
      color: #ef6b28; }
    footer .newsletter-container:before {
      content: '';
      position: absolute;
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      left: 6px;
      top: 6px;
      z-index: 0;
      border: 6px solid transparent;
      -o-border-image: url("../img/dotround-border-orange.svg") 33% round;
      border-image: url("../img/dotround-border-orange.svg") 33% round;
      /* border-image-outset: 3px;*/ }
    footer .newsletter-container .btn.btn-primary {
      right: -60px;
      bottom: -68px;
      left: auto; }
    footer .newsletter-container form {
      position: relative; }

.heading-container {
  box-shadow: 3px 2px 19px 0px rgba(50, 50, 50, 0.83);
  position: absolute;
  font-family: "Give You Glory", cursive;
  background-color: #fff;
  text-align: left;
  width: 40%;
  top: -75px;
  left: 10%;
  padding: 35px 35px 25px;
  z-index: 10;
  top: -50px;
  text-align: center;
  padding: 32px 20px 19px; }
  .heading-container h3 {
    color: #ef6b28; }
  .heading-container:before {
    content: '';
    position: absolute;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    left: 6px;
    top: 6px;
    z-index: 0;
    border: 6px solid transparent;
    -o-border-image: url("../img/dotround-border-orange.svg") 33% round;
    border-image: url("../img/dotround-border-orange.svg") 33% round;
    /* border-image-outset: 3px;*/ }
  .heading-container h3 {
    color: #222; }

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 2px dotted #222;
  outline: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px; }
  .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #ef6b28; }

.slider-row {
  position: relative;
  padding-top: 7em;
  padding-bottom: 9em;
  /* margin-bottom: 10em;*/
  background-color: #ef6b28; }

.swiper-container {
  height: 400px;
  width: 100%;
  margin-bottom: 40px;
  /* >.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {*/
  /*   bottom: -35px;*/
  /* }*/ }
  .swiper-container img {
    height: 400px;
    width: auto;
    border: 12px solid #fff; }
  .swiper-container .swiper-slide {
    flex-shrink: 1; }

/*# sourceMappingURL=style.css.map */
