/*Fonts*/
$headings-ff: 'Give You Glory', cursive;
$text-ff: 'Merriweather Sans', sans-serif;

/*Colors*/
$primary: #ef6b28;
$white: #fff;
$black: #222;

/*Spacing*/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 6)
);

$transition-default: all 0.6s ease;

/* .p-bg {*/
/*   padding: 20rem 0;*/
/* }*/

/*Mixins*/
@mixin boxed-heading () {
    position: absolute;
    padding: 13px 30px 7px;
    font-family: $headings-ff;
    left: -20px;
    color: #fff;
    background: $primary;
    line-height: 0;
    border: 2px dotted $primary;
    bottom: 50px;
    transition: $transition-default;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    h2 {
      margin: 0;
    }
    &:hover, &:focus, &:active {
      background-color: $primary !important;
      border-color: $primary !important;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    @include shadow();
}

@mixin dotted-border ($color) {
    border: 6px solid transparent;
    @if $color == 'black' {
        -o-border-image:url("../img/dotround-border.svg") 33% round;
       border-image:url("../img/dotround-border.svg") 33% round;
     } @else  if $color == 'white' {
       -o-border-image:url("../img/dotround-border-white.svg") 33% round;
          border-image:url("../img/dotround-border-white.svg") 33% round;
     } @else {
      -o-border-image:url("../img/dotround-border-orange.svg") 33% round;
       border-image:url("../img/dotround-border-orange.svg") 33% round;
     }
    /* border-image-outset: 3px;*/
}

@mixin shadow() {
  box-shadow:         3px 2px 19px 0px rgba(50, 50, 50, 0.83);
}

@mixin heading-dotted-border() {
   @include shadow();
    position: absolute;
    font-family: $headings-ff;
    background-color: $white;
    text-align: left;
    width: 40%;
    top: -75px;
    left: 10%;
    padding: 35px 35px 25px;
    z-index: 10;
    h3 {
      color: $primary;
    }
    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      left: 6px;
      top: 6px;
      z-index: 0;
      @include dotted-border('orange');
    }
}

body {
  font-family: $text-ff;
  font-weight: 300;
  overflow-x: hidden;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $headings-ff;
}

.btn.btn-primary {
  @include boxed-heading();
  border-radius: 0;
  padding: 28px 35px 20px;
  font-size: 24px;
}

.btn.btn-default {
  font-family: $headings-ff;
  color: $white;
  background-color: transparent;
  border-radius: 0;
  padding: 8px 30px 3px;
  font-size: 20px;
  @include dotted-border('white');
  border-width: 5px;
  transition: $transition-default;
  &:hover, &:focus, &:active {
    color: $primary;
    box-shadow: none;
  }
  &.btn-alt-hover {
    &:hover, &:focus, &:active {
      color: $black;
    }
  }
}

header {
  height: 100vh;
  background-image: url("../img/schuhe_karin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  h1 {
    @include shadow();
    position: absolute;
    font-family: $headings-ff;
    line-height: 1.2;
    color: $black;
    background-color: $white;
    text-align: center;
    width: 50%;
    bottom: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 32px 20px 25px;
    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      left: 6px;
      top: 6px;
      z-index: -1;
      @include dotted-border('orange');
    }
  }
}

.navbar {
  @include shadow();  
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 40px;
  width: 320px;
  padding: 25px 32px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-color: $white;
  transition: $transition-default;
    .navbar-brand {
      img {
        max-width: 190px;
      }
    }
    .navbar-toggler-icon {
      outline: 0;
      width: 1.7em;
      height: 1.7em;
      .ti-menu {
        top: 4px;
        position: relative;
      }
      .icon-name {
        font-family: $headings-ff;
        font-size: 15px;
        position: absolute;
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        top: 60px;
        right: 28px;
      }
    }
    .navbar-toggler {
      outline: 0;
      padding: 0;
      margin-top: -25px;
    }
    .nav-link {
      color: $black;
      font-family: $headings-ff;
      font-size: 20px;
      padding-bottom: 0;
      transition: $transition-default;
      &:hover, &:focus {
        color: $primary;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 12px);
      width: 308px;
      left: 6px;
      top: 6px;
      z-index: -1;
      @include dotted-border('orange');
    
    }
    .navbar-nav {
      padding-top: 20px;
      padding-left: 3px;
      .dropdown-menu {
        min-width: 100px;
        font-family: $headings-ff;
        border: 0;
        border-top: 2px dotted $black;
        border-bottom: 2px dotted $black;
        border-radius: 0;
        transition: $transition-default;
        .dropdown-item {
          transition: $transition-default;
          &:hover, &:focus {
            color: $primary;
            background-color: $white;
          }
        }
      }
    }
  }

main.container {
  padding-top: 9em;
  padding-bottom: 8em; 
  /* @include media-breakpoint-up(xl) { */
  /*   width: 80%;*/
  /* }*/
  @media (min-width: 992px) {
    width: 80%;
  }
}

.col-spacer {
  height: 70px;
}

figure {
  position: relative;
    margin: 0;
    @include dotted-border('orange');
    padding: 3px;
    figcaption {
      @include boxed-heading();
    }
}

footer {
  background-color: $black;
  color: $white;
  padding: 2em 2.5em;
  text-align: right;
  position: relative;
  /* @include dotted-border('orange');*/
  /* border-left: 0;*/
  /* border-bottom: 0;*/
  /* border-right: 0;*/
  img {
    max-width: 175px;
    padding-bottom: 10px;
    @include dotted-border('white');
    border-width: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 8px;
  }
  p {
    font-size: 12px;
    line-height: 1.7;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  h6 {
    font-weight: 400;
    margin-bottom: 5px;
  }
  .newsletter-container {
    @include heading-dotted-border();
    .btn.btn-primary {
      right: -60px;
      bottom: -68px;
      left: auto;
    }
    form {
      position: relative;
    }
  }
}

.heading-container {
  @include heading-dotted-border();
  top: -50px;
  text-align: center;
  padding: 32px 20px 19px;
  h3 {
    color: $black;
  }
}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 2px dotted $black;
  outline: 0;
  font-family: $text-ff;
  font-size: 12px;
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: $primary;
  }
}

.slider-row {
  position: relative;
  padding-top: 7em;
  padding-bottom: 9em;
  /* margin-bottom: 10em;*/
  background-color: $primary;
}

.swiper-container {
  height: 400px;
  width: 100%;
  margin-bottom: 40px;
  img {
    height: 400px;
    width: auto;
    border: 12px solid $white;
  }
  .swiper-slide {
    flex-shrink: 1;
  }
  /* >.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {*/
  /*   bottom: -35px;*/
  /* }*/
}

