/*Fonts*/
$headings-ff: 'Give You Glory', cursive;
$text-ff: 'Merriweather Sans', sans-serif;

/*Colors*/
$primary: #f67534;
$white: #fff;
$black: #222;

/*Spacing*/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 6)
);

$transition-default: all 0.6s ease;

/* .p-bg {*/
/*   padding: 20rem 0;*/
/* }*/

/*Mixins*/
@mixin boxed-heading () {
    position: absolute;
    padding: 13px 30px 7px;
    font-family: $headings-ff;
    left: -20px;
    color: #fff;
    background: #f67534;
    line-height: 0;
    border: 2px dotted $primary;
    bottom: 50px;
    -webkit-transition: $transition-default;
    transition: $transition-default;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    h2 {
      margin: 0;
    }
    &:hover, &:focus {
      border: 2px dotted $black;
      color: $primary;
      background-color: $white;
    }
}

@mixin dotted-border ($color) {
    border: 6px solid transparent;
    @if $color == 'black' {
        -o-border-image:url("../img/dotround-border.svg") 33% round;
       border-image:url("../img/dotround-border.svg") 33% round;
     } @else {
      -o-border-image:url("../img/dotround-border-orange.svg") 33% round;
       border-image:url("../img/dotround-border-orange.svg") 33% round;
     }
    /* border-image-outset: 3px;*/
}

body {
  font-family: $text-ff;
  overflow-x: hidden;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  background-image: url("../img/schuhe_karin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  h1 {
    position: absolute;
    font-family: $headings-ff;
    color: $white;
    text-align: center;
    width: 60%;
    bottom: -70px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.navbar {
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 40px;
  width: 320px;
  padding: 25px 32px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-color: $white;
  -webkit-transition: $transition-default;
  transition: $transition-default;
    .navbar-brand {
      img {
        max-width: 190px;
      }
    }
    .navbar-toggler-icon {
      outline: 0;
      width: 1.7em;
      height: 1.7em;
      .ti-menu {
        top: 4px;
        position: relative;
      }
      .icon-name {
        font-family: $headings-ff;
        font-size: 15px;
        position: absolute;
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        top: 60px;
        right: 28px;
      }
    }
    .navbar-toggler {
      outline: 0;
      padding: 0;
      margin-top: -25px;
    }
    .nav-link {
      color: $black;
      font-family: $headings-ff;
      font-size: 20px;
      padding-bottom: 0;
      -webkit-transition: $transition-default;
      transition: $transition-default;
      &:hover, &:focus {
        color: $primary;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 12px);
      width: 308px;
      left: 6px;
      top: 6px;
      z-index: -1;
      @include dotted-border('orange');
    
    }
    .navbar-nav {
      padding-top: 20px;
      padding-left: 3px;
      .dropdown-menu {
        min-width: 100px;
        font-family: $headings-ff;
        border: 0;
        border-top: 2px dotted $black;
        border-bottom: 2px dotted $black;
        border-radius: 0;
        -webkit-transition: $transition-default;
        transition: $transition-default;
        .dropdown-item {
          -webkit-transition: $transition-default;
          transition: $transition-default;
          &:hover, &:focus {
            color: $primary;
            background-color: $white;
          }
        }
      }
    }
  }

main.container {
  /*width: 90%;*/
}

.col-spacer {
  height: 70px;
}

figure {
  position: relative;
    margin: 0;
    @include dotted-border('orange');
    padding: .3em;
    figcaption {
      @include boxed-heading();
    }
}

